/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

tr.selected {
  background-color: rebeccapurple;
  color: white !important;
  font-weight: bold;
}
tr.selected td.edit-route a {
  color: white !important;
}

div.map-controls {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  left: 10px;
}

.main-ui {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.map-view {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.floating-routes-ui {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
}

.routes {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.routes .route-table {
  overflow-y: auto;
}
.routes .route-controls button {
  margin-bottom: 0;
}


td:first-child, th:first-child {
  padding-left: 1.5rem;
}


tr.route {
  cursor: pointer;
}
tr.route:hover:not(.selected) {
  background-color: rgba(102, 51, 153, 0.2);
}


.court-cases {
  max-width: 900px;
  height: 500px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.court-cases .case-table {
  overflow-y: auto;
}
.court-cases .case-filters {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}
.court-cases .case-filters button {
  margin-bottom: 0;
}
.court-cases form {
  margin: 0;
}
.court-cases select {
  margin: 0;
  width: 100%;
}


.routes {
  height: 500px;
}

.routes .route-controls {
  margin-top: 1rem;
}
.routes td {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.routes td.edit-route {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}
.routes td.edit-route a {
  color: inherit !important;
}
.routes td.edit-route .fas svg {
  width: 17px;
  height: 17px;
}
.routes td.edit-route .fas:not(:last-child) {
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.routes td.edit-route .fas:not(.active) {
  opacity: 0.2;
}
.routes td.edit-route .fas:hover {
  opacity: 1;
}
.routes td.edit-route .fa-check:hover ~ .tooltips > .tooltip.visited {
  display: inline;
}
.routes td.edit-route .fa-eye-slash:hover ~ .tooltips > .tooltip.hide {
  display: inline;
}
.routes td.edit-route .fa-trash:hover ~ .tooltips > .tooltip.trash {
  display: inline;
}
.routes td.edit-route .fa-external-link-alt:hover ~ .tooltips > .tooltip.show {
  display: inline;
}
.routes td.edit-route .tooltip {
  display: none;
  opacity: 0.7;
  font-size: 1.5rem;
}
.routes td.edit-route .tooltips {
  margin-left: 10px;
  width: 100px;
  font-weight: normal;
}


.menu-container {
  display: flex;
  width: 100%;
  justify-content: right;
}
.menu-container .ui-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.menu-container .ui-menu.menu-show {
  margin-bottom: 2rem;
}

.menu-container .ui-menu a {
  color: #35231f;
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 0px;
  padding-bottom: 35px;
  padding-right: 0rem;
  padding-left: 0rem;
  opacity: 0.7;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.menu-container .ui-menu a.selected {
  border-bottom: 3px solid #35231f;
  opacity: 1;
}


.hidden {
  display: none !important;
}

body {
  margin: 0;
}


.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
.modal .modal-dialog {
  background-color: #fefefe;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
}
.modal .modal-dialog .import-route-form {
  width: 500px;
}
.modal .modal-dialog .import-route-form textarea {
  height: 200px;
}
.modal .modal-dialog form {
  margin-bottom: 0;
}
.modal .modal-dialog form:last-child {
  margin-bottom: 0;
}
.modal .modal-dialog .modal-header {
  margin-top: 5px;
  margin-bottom: 15px;
}
.modal .modal-dialog .btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  padding-right:7px;
  position: absolute;
  right: 7px;
  top: 0;
}
.modal .modal-dialog .btn-close:hover {
  color: #919191;
}


#show-route-page .route-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
#show-route-page #route-stops tr:nth-child(even) {
  background-color: #f2f2f2;
}
#show-route-page #route-stops tr td:last-child,
#show-route-page #route-stops tr td:first-child,
#show-route-page #route-stops tr th:last-child,
#show-route-page #route-stops tr th:first-child
{
  padding-left: 1rem;
  padding-right: 1rem;
}
#show-route-page .debrief-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#show-route-page .debrief-container img.debrief-qr {
  padding: 2rem;
  background-color: white !important;
}
#show-route-page .debrief-container a.route-debrief {
  font-family: monospace;
  color: black;
}


@media print {
  header {
    display: none;
  }

  #route-stops tr td {
    font-size: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  #route-stops tr {
    -webkit-print-color-adjust: exact;
  }

  table tr td,
  table tr th {
    page-break-inside: avoid;
  }

  img.debrief-qr {
    width: 250px;
    height: 250px;
  }

  .footer-spacer {
    display: none;
  }
}

